{% extends 'CAPersoBundle::base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Edit perso</h1>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1">
                            <div class="well">
                                {{ form_start(form) }}

                                <div>
                                    {{ form_label(form.age, "Age") }}
                                    {{ form_errors(form.age) }}
                                    {{ form_widget(form.age, {'value' : oldPerso.age}) }}
                                </div>

                                <div>
                                    {{ form_label(form.race, "Race") }}
                                    {{ form_errors(form.race) }}
                                    {{ form_widget(form.race, {'value' : oldPerso.race}) }}
                                </div>

                                <div>
                                    {{ form_label(form.famille, "Famille") }}
                                    {{ form_errors(form.famille) }}
                                    {{ form_widget(form.famille, {'value' : oldPerso.famille.id | trans }) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}