{# templates/blog/index.html.twig #}
{% extends 'CAPersoBundle::base.html.twig' %}

{% block content %}

    <h1>perso {{ perso.username }}</h1>

    <h2> description </h2>
    <p>{{ perso.age }}</p>
    {% for nourriture in perso.nourriture %}
        {% if nourriture.name %}
            <p> - {{ nourriture.name }}</p>
        {% endif %}
    {% endfor %}
    {% if perso.famille and perso.famille.name %}
        <p>{{ perso.famille.name }}</p>
    {% endif %}
    <p>{{ perso.race }}</p>

    {% if app.user %}
        {% if app.user.id == perso.id %}
            <strong> <a href="{{ path('ca_perso_edit', {'id': perso.id})}}"> editez votre profil et uniquement votre profil </a></strong>
        {% else %}
            <button> <a href="{{ path('ca_perso_add_friend', {'id': perso.id})}}"> add or remove friend </a></button>
        {% endif %}
    {% endif %}
{% endblock %}